<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.dsi.system.common.dao.CommonDao">

	<select id="selectCdByCdGrp" parameterType="java.lang.String" resultType="kr.co.dsi.common.dto.res.CdCmmnReadResDto">
		/*
		SQL ID : co.kr.rp.mgmt.cd.dao.selectCd
		SQL 명: 코드 그룹 기준 코드 목록 조회
		*/
		SELECT
			a.cd as code                               /* 코드 */
			,a.cd_grp as code_group                    /* 코드 그룹 */
			,cdgrp.cd_grp_nm as code_group_name        /* 코드 그룹 명 */
			,a.cd_nm as code_name                      /* 코드 명 */
			,a.cd_val as code_value                    /* 코드 값 */
			,a.cd_descr as code_description            /* 코드 설명 */
			,a.cd_idx as code_index                    /* 코드 순서 */
		FROM tb_cd a
		INNER JOIN tb_cd_grp cdgrp on a.cd_grp = cdgrp.cd_grp
		LEFT OUTER JOIN tb_usr us1 on a.crte_usr_id = us1.usr_id
		LEFT OUTER JOIN tb_usr us2 on a.upd_usr_id = us2.usr_id
		<where>
			a.use_yn = 'Y'
			AND a.cd_grp = #{codeGroup}
		</where>
		ORDER BY a.cd_idx ASC
	</select>

	<select id="selectCd" parameterType="java.lang.String" resultType="kr.co.dsi.common.dto.res.CdCmmnReadResDto">
		/*
		SQL ID : co.kr.rp.mgmt.cd.dao.selectCd
		SQL 명: 코드 그룹 기준 코드 목록 조회
		*/
		SELECT
			a.cd as code                               /* 코드 */
			,a.cd_grp as code_group                    /* 코드 그룹 */
			,cdgrp.cd_grp_nm as code_group_name        /* 코드 그룹 명 */
			,a.cd_nm as code_name                      /* 코드 명 */
			,a.cd_val as code_value                    /* 코드 값 */
			,a.cd_descr as code_description            /* 코드 설명 */
			,a.cd_idx as code_index                    /* 코드 순서 */
		FROM tb_cd a
		INNER JOIN tb_cd_grp cdgrp on a.cd_grp = cdgrp.cd_grp
		LEFT OUTER JOIN tb_usr us1 on a.crte_usr_id = us1.usr_id
		LEFT OUTER JOIN tb_usr us2 on a.upd_usr_id = us2.usr_id
		<where>
			a.use_yn = 'Y'
			AND a.cd_grp = #{codeGroup}
			AND a.cd = #{code}
		</where>
		ORDER BY a.cd_idx ASC
	</select>

	<insert id="insertLoginUser" parameterType="java.lang.String">
		/*
		SQL ID : co.kr.idp.system.common.dao.CommonDao.insertLoginUser
		SQL 명: 사용자 로그인 정보 저장
		*/
		INSERT INTO tb_usr_lgin_hist (
		usr_id
		, crte_dt
		) VALUES (
		#{usrId}
		, CURRENT_TIMESTAMP()
		)
	</insert>

	<select id="selectApndFile" parameterType="java.lang.Integer" resultType="kr.co.dsi.common.dto.ApndFiles">
		/*
		SQL ID : co.kr.rp.mgmt.common.dao.selectApndFile
		SQL 명: 첨부파일 선택
		*/
		SELECT APND_FILE_PATH
			 , APND_FILE_NM
			 , ORG_FILE_NM
			 , FILE_SIZ
			 , FILE_IDX
		FROM TB_APND_FILE
		WHERE APND_FILE_ID = #{apndFileId}
		AND DEL_YN = 'N'
	</select>
	
	<update id="updateApndFile" parameterType="kr.co.dsi.common.dto.ApndFiles">
		/*
		SQL ID : co.kr.rp.mgmt.common.dao.updateApndFile
		SQL 명: 첨부파일 업데이트
		*/
		UPDATE TB_APND_FILE
		<set>
			CONTS_ID = #{contsId, jdbcType=VARCHAR}
			, CONTS_TYPE = #{contsType, jdbcType=INTEGER}
			, APND_FILE_PATH = #{apndFilePath, jdbcType=VARCHAR}
			, UPD_USR_ID = #{crteUsrId, jdbcType=VARCHAR}
			, UPD_DT = current_timestamp()
		</set>
		<where>
			APND_FILE_ID = #{apndFileId}
		</where>
	</update>
</mapper>