<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.sp.apiserver.ticker.dao.TickerDao">
  <select id="selectTickerList" resultType="com.stock.sp.apiserver.ticker.entity.Ticker">
    SELECT "date"
    ,ticker
    ,labelko as labelKo
    ,labelen as labelEn
    ,"open"
    ,high
    ,low
    ,"close"
    ,volume 
    FROM stock_prices
  </select>
</mapper>  